aniso8601==4.1.0
autokeras==0.2.0
auxlib==0.0.42
CacheControl==0.12.5
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.4
decorator==4.4.0
Django==2.2.1
dlib==19.7.0
docutils==0.14
enum34==1.1.6
firebase-admin==2.16.0
first==2.0.1
Flask==1.0.2
Flask-RESTful==0.3.7
gcloud==0.17.0
google-api-core==1.8.2
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.7.0
httplib2==0.12.1
icc-rt==2019.0
idna==2.8
image-classifiers==0.2.0
imutils==0.5.2
intel-openmp==2019.0
itsdangerous==1.1.0
Jinja2==2.10
jws==0.1.3
Keras==2.0.5
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
msgpack==0.6.1
mysql-connector-python==8.0.15
networkx==2.2
numpy==1.12.1
oauth2client==3.0.0
opencv-contrib-python==3.3.0.10
opencv-python==3.3.0.10
pandas==0.19.1
Pillow==5.4.1
protobuf==3.7.0
psutil==5.5.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycryptodome==3.4.3
pymongo==3.7.2
pyparsing==2.3.1
Pyrebase==3.0.27
python-dateutil==2.8.0
python-dotenv==0.10.1
python-firebase==1.2
python-jwt==2.0.1
pytz==2018.9
PyWavelets==1.0.2
PyYAML==3.13
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
statistics==1.0.3.5
tbb==2019.0
tbb4py==2019.0
Theano==1.0.4
toolz==0.9.0
torch==1.0.1
torchvision==0.2.1
tqdm==4.31.1
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.4.3
Werkzeug==0.14.1
xlwt==1.3.0
